@layout('layouts.app')

@section('content')

<!-- Header -->
<header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <h1> this is contact me page</h1>
            
          </div>
        </div>
      </header>

@endsection